{%extends "index.html"%}
{%load static%}
{% block slider%}
<form>
  <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4"style = "color:White">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        <br>
        <label for="inputPassword4" style = "color:White">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
  {% endblock %}