{% extends 'MasterIndex.html'%}
{% block carousel %}
{% endblock carousel %}
{% block about %}
{% endblock about %}
{% block fact %}
{% endblock fact %}
{% block service %}
{% endblock service %}
{% block feature %}
{% endblock feature %}
{% block price %}
{% endblock price %}
{% block quote %}
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase mb-3">Get A Quote</h6>
                <h1 class="mb-5">Please login </h1>
                <p class="mb-5">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet</p>
                <div class="d-flex align-items-center">
                    <i class="fa fa-headphones fa-2x flex-shrink-0 bg-primary p-3 text-white"></i>
                    <div class="ps-4">
                        <h6>Call for any query!</h6>
                        <h3 class="text-primary m-0">+012 345 6789</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="bg-light text-center p-5 wow fadeIn" data-wow-delay="0.5s">
                    <form method="post" action="" novalidate>
                        {% csrf_token %}
                        
                        <div class="row g-3">   
                            <!-- <div class="col-12 col-sm-12">
                                <input type="email" 
                                name="email"
                                required
                                class="form-control border-0" placeholder="Your Email" style="height: 55px;"> 
                                
                            </div>
                            <div class="col-12 col-sm-12">
                                <input type="password" 
                                name="password"
                                required
                                class="form-control border-0" placeholder="Your Password" style="height: 55px;">
                                
                            </div> -->
                            <table>
                                {{form.as_p}}
                            </table>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">LogIn</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock quote %}

{% block team %}
{% endblock team %}
{% block testimonial%}
{% endblock testimonial %}