*
{
    margin: 0%;
}
#main
{
height: 100%;
width: 100%;
background-color: teal;
}
#header
{
height: 120px;
width: 100%;
background-color: cadetblue;
}
#logo img
{
height:15%x;
width: 15%;
background-color: yellow;
float: left;
/* border-radius: 10%; */
}
#head
{
font-size: 35px;
margin-left: 25%;
padding-top:0px ;
color: whitesmoke;
}
#nav
{

margin-top:0%;
width: 100%;
background-color: wheat;
}
#nav ul{
margin-left: 60%;
padding-top: 0%;
}
#nav ul li{
display: inline;
margin-left: 22px;
}
#nav ul li a{
text-decoration: none;
font-size: 24px;
color: brown;
font-weight: bold;
}
#nav ul li a:hover
{
background-color: teal;
color: whitesmoke;
border-radius: 33px;
text-decoration: underline;
}
#pic img 
{
height: 150px;
width: 100%;
/* background-color: yellow; */
}
#about
{
background-color: wheat;
font-size: 18px;
}
#about span{
font-size: 24px;
color: crimson;
font-weight: bold;
text-decoration: overline;
}
#data
{
height: 160px;
width: 100%;
background-color: aqua;
}
#data #loc
{
height: 160px;
width: 50%;
/* background-color:brown; */
float: left;
}
#data #info
{
height: 160px;
width: 50%;
background-color:blue;
float: left;
}
#data #info h3{
line-height: 35px;
margin-left: 11px;
color: whitesmoke;
font-weight: bold;
font-family: cursive;
}
#foot
{
height: 30px;
width: 100%;
color: yellow;
font-weight: bold;
}