{% extends "index.html"%}
{% load static %}
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
    <a href="" class="navbar-brand bg-primary d-flex align-items-center px-4 px-lg-5">
        <h2 class="mb-2 text-white">Logistica</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{{curl}}" class="nav-item nav-link active">Home</a>
            <a href="{{curl}}/about" class="nav-item nav-link">About</a>
            <a href="service.html" class="nav-item nav-link">Services</a>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
        <h4 class="m-0 pe-lg-5 d-none d-lg-block"><i class="fa fa-headphones text-primary me-3"></i>+012 345 6789</h4>
    </div>
</nav>
<!-- Navbar End -->
{% block spinner %}
{% endblock spinner %}
{% block carousel %}
{% endblock carousel %}
{% block About1 %}
{% endblock About1 %}
{% block Fact %}
{% endblock Fact %}
{% block service %}
{% endblock service %}
{% block Feature %}
{% endblock Feature %}
{% block Qoute %}
{% endblock Qoute %}
{% block Team %}
{% endblock Team %}
{% block Testimonial %}

{% endblock Testimonial %}

