{% extends 'MasterIndex.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
    <a href="index.html" class="navbar-brand bg-primary d-flex align-items-center px-2 px-lg-2">
        <h6 class="mb-2 text-white">USERMANAGEMENT</h6>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{{curl}}adminapp/adminhome/" class="nav-item nav-link active">AdminHome</a>
            <a href="{{curl}}adminapp/manageusers" class="nav-item nav-link">ManageUsers</a>
            <!-- <a href="service.html" class="nav-item nav-link">Services</a> -->
            <a href="{{curl}}adminapp/addcategory" class="nav-item nav-link">Add Category</a>
            <a href="{{curl}}adminapp/viewcategory" class="nav-item nav-link">View Category</a>
            <a href="{{curl}}adminapp/changepassword" class="nav-item nav-link">Change Password</a>

            <a href="{{curl}}adminapp/logout/" class="nav-item nav-link">Logout</a>
        </div>
        <h6 class="m-0 pe-lg-5 d-none d-lg-block"></i>{{email}}</h6>
    </div>
</nav>
{% endblock navbar%}

{% block carousel%}
{% endblock carousel%}

{% block about%}
{% endblock about%}

{% block fact%}
{% endblock fact%}

{% block service%}
<!-- {{context.name}} -->
<form method="post" action="{{curl}}adminapp/editprofile/">
    {% csrf_token %}
    <div class="row g-3">
        <input type="hidden" value={{context.userid}} name="userid"/>
        <div class="col-12 col-sm-12">
            <input 
            type="text" 
            name="name"
            value="{{context.name}}"
            class="form-control border-0" placeholder="Name" style="height: 55px;"/>
        </div>
        <div class="col-12 col-sm-12">
            <input type="email" 
            name="email"
            value={{context.email}}
            class="form-control border-0" placeholder="Email" style="height: 55px;"
            disabled
            >
        </div>
        <!-- <div class="col-12 col-sm-12">
            <input type="password"
            name="password" 
            value={{context.password}}
            class="form-control border-0" 
            placeholder="Password" style="height: 55px;">
        </div> -->
        <div class="col-12 col-sm-12">
            <input type="text"
            name="mobile"
            value={{context.mobile}}
            class="form-control border-0" placeholder="Mobile" style="height: 55px;">
        </div>
        <div class="col-12 col-sm-12">
            <input type="text" 
            name="gender"
            value={{context.gender}}
            class="form-control border-0" style="height: 55px;"
            placeholder="Gender"
            >
           
        </div>
        <div class="col-12">
            <textarea class="form-control border-0" 
            name="address"
            placeholder="Address"
            rows="5"
            >{{context.address}}</textarea>
        </div>

        <div class="col-12 col-sm-12">
            <input type="date" 
            name="dob"
            value={{dob}}
            class="form-control border-0" style="height: 55px;"/>
        </div> 
        <div class="col-12">
            <button class="btn btn-primary w-100 py-3" type="submit">Edit</button>
        </div><br>
    </div>
</form>
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="" novalidate>
                {% csrf_token %}
                <div class="row g-3">
                    
                    <div class="col-12 col-sm-12">
                        <input type="text" 
                        name="name"
                        value=""
                        class="form-control border-0" placeholder="Name" style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-12">
                        <input type="email" 
                        name="email"
                        class="form-control border-0" placeholder="Email" style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-12">
                        <input type="password"
                        name="password" 
                        class="form-control border-0" 
                        placeholder="Password" style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-12">
                        <input type="text"
                        name="mobile"
                        class="form-control border-0" placeholder="Mobile" style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-12">
                        <input type="text" 
                        name="gender"
                        class="form-control border-0" style="height: 55px;"
                        placeholder="Gender"
                        >
                       
                    </div>
                    <div class="col-12">
                        <textarea class="form-control border-0" 
                        name="address"
                        placeholder="Address"
                        rows="5"
                        ></textarea>
                    </div>
                    <div class="col-12 col-sm-12">
                        <input type="date" 
                        name="dob"
                        class="form-control border-0" style="height: 55px;">
                    </div> 
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Edit</button>
                    </div>
                    
                </div>
            </form>
        </div>
      </div>
    </div>
</div> -->
{% endblock service%}

{% block feature%}
{% endblock feature%}

{% block price%}
{% endblock price%}

{% block quote%}
{% endblock quote%}

{% block team %}
{% endblock team %}

{% block testimonial%}
{% endblock testimonial%}