{% extends 'MasterIndex.html' %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
    <a href="index.html" class="navbar-brand bg-primary d-flex align-items-center px-2 px-lg-2">
        <h6 class="mb-2 text-white">USERMANAGEMENT</h6>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{{curl}}adminapp/adminhome/" class="nav-item nav-link active">AdminHome</a>
            <a href="{{curl}}adminapp/manageusers" class="nav-item nav-link">ManageUsers</a>
            <!-- <a href="service.html" class="nav-item nav-link">Services</a> -->
            <a href="{{curl}}adminapp/addcategory" class="nav-item nav-link">Add Category</a>
            <a href="{{curl}}adminapp/viewcategory" class="nav-item nav-link">View Category</a>
            <a href="{{curl}}adminapp/changepassword" class="nav-item nav-link">Change Password</a>

            <a href="{{curl}}adminapp/logout/" class="nav-item nav-link">Logout</a>
        </div>
        <h6 class="m-0 pe-lg-5 d-none d-lg-block"></i>{{email}}</h6>
    </div>
</nav>
{% endblock navbar%}

{% block carousel%}
{% endblock carousel%}

{% block about%}
{% endblock about%}

{% block fact%}
{% endblock fact%}

{% block service%}
<h1>View Category</h1>
{% endblock service%}

{% block feature%}
{% endblock feature%}

{% block price%}
{% endblock price%}

{% block quote%}
{% endblock quote%}

{% block team %}
{% endblock team %}

{% block testimonial%}

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        {% for x in context2 %}
        <div class="text-center">
            <!-- <h6 class="text-secondary text-uppercase">Testimonial</h6> -->
            <h1 class="mb-0">{{x.name}}</h1>
        </div>
        {% for y in context %}
        {% if x.name == y.name %}
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    
                    <img class="img-fluid flex-shrink-0" src="{{ media_url }}{{ y.caticon }}"style="width: 120px; height: 120px;">
                    <div class="ms-4">
                        <h5 class="mb-1">{{y.catname}}</h5>
                        <p class="m-0">{{y.caticon}}</p>
                        <p class="m-0">{{ media_url }}{{ y.caticon }}</p>
                    </div>
                </div>
                <!-- <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p> -->
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock testimonial%}